body {
    background: #f0f0f0;
    font-family: Inter;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

main {
    background: #ffffff;
    border-radius: 10px;
    width: 700px;
    padding: 50px;
    text-align: center;
    margin: 0 auto;
}

.image {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    margin-bottom: 50px;
    animation: rotate 5s infinite;
}

.name {
    font-weight: bold;
    margin: 0;
    font-size: 60px;
}

.username {
    color: #23539b;
    font-weight: normal;
    margin: 0;
    font-size: 40px;
}

.message {
    margin: 0;
    position: fixed;
    top: 50px;
    right: 50px;
    font-size: 30px;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}